* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: black;
}
#innerTwitterContainer {
  width: 100px;
  height: 100px;
  background-color: #ccc;
}
#time {
  font-size: 8rem;
}

h1 {
  font-size: 3em;
  margin-bottom: 3em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.5rem;
  opacity: 0.6;
}
.todaysGoal {
  font-size: 3em;
  letter-spacing: 0.2em;
  font-weight: 700;
  opacity: 0.8;
}

form p input,
textarea {
  display: flex;
  margin-bottom: 0.5em;
  width: 300px;
  padding: 0.2em;
  align-items: center;
  text-align: left;
  border: none;
  justify-content: center;
  box-shadow: 0 0 15px 0 #ccc;
  border-radius: 15px;
}

.btn {
  text-align: center;
  margin-top: 0.5em;
  box-shadow: 0 0 15px 0 #ccc;
  border: none;
  border-radius: 15px;
  padding: 0.5em;
  width: 150px;
  &:hover {
    background-color: #ffdfc5;
    width: 175px;
    padding: 0.7em;
    box-shadow: 0 0 15px 0 #ccc;
  }
}

@media (max-width: 768px) {
  #time {
    font-size: 6rem;
  }
}
